.ps1ui-text {
  margin: 0;
  font-family: var(--ps1ui-font-mono);
  line-height: 1.6;
}

.ps1ui-text--truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.ps1ui-text--truncate-inline {
  display: inline-block;
}

.ps1ui-text--body {
  color: var(--ps1ui-color-fg);
}
.ps1ui-text--muted {
  color: var(--ps1ui-color-fg-muted);
}
.ps1ui-text--subtle {
  color: var(--ps1ui-color-fg-subtle);
}
.ps1ui-text--primary {
  color: var(--ps1ui-color-primary);
}
.ps1ui-text--accent {
  color: var(--ps1ui-color-accent);
}

.ps1ui-text--size-xs {
  font-size: var(--ps1ui-font-size-xs);
}
.ps1ui-text--size-sm {
  font-size: var(--ps1ui-font-size-sm);
}
.ps1ui-text--size-md {
  font-size: var(--ps1ui-font-size-md);
}
.ps1ui-text--size-lg {
  font-size: var(--ps1ui-font-size-lg);
}
.ps1ui-text--size-xl {
  font-size: var(--ps1ui-font-size-xl);
}

.ps1ui-text--weight-regular {
  font-weight: 400;
}
.ps1ui-text--weight-medium {
  font-weight: 500;
}
.ps1ui-text--weight-semibold {
  font-weight: 600;
}
.ps1ui-text--weight-bold {
  font-weight: 700;
}
